@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --color-bg: #09090b;
    /* zinc-950 */
    --color-bg-secondary: #0a0a0a;
    --color-text: #ededed;
    /* zinc-100 */
    --color-border: #27272a;
    /* zinc-800 */
    --color-accent: #3b82f6;
    /* blue-500 */
    font-family: 'Inter', sans-serif;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

@layer utilities {
  .glow-blue {
    box-shadow: 0 0 20px -5px rgba(59, 130, 246, 0.3);
  }
}